<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/bannerbar.ejs') %>
    
    <div class="category-content">
      <% if (productsInCategory !== 'undefined' && productsInCategory.length > 0) { %>
        <% productsInCategory.forEach(product => { %>
          <a href=<%= product.url %>>
          <div class="card" style="width: 18rem;">
            <img src="<%= product.imgurl %>" class="card-img-top" alt="<%= product.name %>">
            <div class="card-body">
              <p class="card-name"><%= product.name %></p>
              <p class="category-name"><%= product.category.name %></p>
              <p class="product-price">$<%= product.price %></p>
            </div>
          </div>
          </a>
        <% }) %>
      <% } else { %>
        <h1>There are no products.</h1>
      <% } %>
    </div>
  </body>
</html>