<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/bannerbar.ejs') %>

    <div class="product-content edit-list">
            <% if (product_list !== 'undefined' && product_list.length > 0) { %>
                <% product_list.forEach(product => { %>
                  <div class="card" style="width: 18rem; padding: 20px;">
                    <img src="<%= product.imgurl %>" class="card-img-top" alt="<%= product.name %>">
                    <div class="card-body">
                      <p class="card-name"><%= product.name %></p>
                      <p class="category-name"><%= product.category.name %></p>
                      <p class="product-price">$<%= product.price %></p>
                    </div>
                    <div class="card-btn-box">
                        <a href=<%= product.url+'/delete' %>>
                            <button type="button">Delete</button>
                        </a>
                        <a href=<%= product.url+'/update' %>>
                            <button type="button">Update</button>
                        </a>
                    </div>
                  </div>
                <% }) %>
              <% } else { %>
                <h1>There are no products.</h1>
              <% } %>
    </div>
  </body>
</html>